/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =========================== 
          MY STYLES |   |
    ========================== */
/* common styles */
body {
    background-color:#aad4cf;
}

.container{
    background-color: #d4e9e7;
    width: 1024px;
    margin: 0 auto;
    display: block;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* end of common styles */
/* Header */
.img_1{
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin: 0% auto;
}

h1{
	position: absolute;
	top: 24.7%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 68px;
	color: white;
	margin: 0% auto ;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    float: none;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0% auto;
} 

.nav li {
    font-weight: 550;
    border-right: 2px solid black;
    display: inline-block;
    padding: 10px 100px;
    margin: auto;
    font-size: 28px;
}

.nav li:last-child {
    border-right: 0;
    transform: translate(+12%);
}

.nav li:nth-child(2) {
    transform: translate(+10%);
}

ul li a {
    text-decoration: none;
    color: #000;
}
/* end of header */
/* main content */
h2{
	margin-left: 10pt;
    font-size: 40pt;
	margin-top: 75px;
    font-size: 42px;
}

.img_2{
    float: left;
    height: 252pt;
    width: 246pt;
    margin-top: 10pt;
    margin-bottom: 39px ;
    margin-left: 11pt ;
    margin-right: 19pt ;
}
.content{
    text-align: justify;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.3pt;
    margin-right: 19pt;
    margin-left: 11pt;
    margin-top: 10px;
}
h3{
    font-size: 26pt;
	margin-left: 10pt;
    margin-top: 25pt;
}
.facts{
    padding-top: 12px;
    padding-left: 32px;
    font-size: 12pt;
    list-style-type: disc;
}
.facts li{
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}
/* end of main content */
/* contact */
.form{
    padding: 10px;
    margin: 10px;
}
label[for=name]{
    padding-top: 10pt;
    font-size: 18pt;
}
label[for=email]{
    padding-top: 10pt;
    font-size: 18pt;
}
label[for=message]{
    padding-top: 5pt;
    font-size: 28pt;
}
.que{
    padding-top: 10pt;
    font-size: 22pt;
}
label{
    padding-top: 27pt;
    font-size: 19pt;
    display: inline-block;
    margin-bottom: 5px;
}
.br{
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
input[type='text']{
    box-sizing: border-box;
    width: 100%;
    height: 29px;
    border: 1px solid black;
    margin-bottom: 12px;
    padding: 7px;
}
button{
    padding: 2px;
    font-size: 13pt;
    background-color:  #d4e9e7;
    height: 38pt;
    width: 54pt;
    margin-bottom: 16px;
}
textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: .5px solid black ;
    margin-bottom: 2px;
}
.radio{
    margin-bottom: 10px;
}   
/* end of contact */
footer{
    margin-bottom: 13px;
}
/* copyright */
#copy{
    font-weight: 550;
    padding-top: 0;
    font-size: 18px;
    text-align: right;
    padding-bottom: 20px;
    margin-right: 75px;
}
/* end of copyright */